input[type="text"] {
	width: 230px;
}

.complete {
	color: #CCC;
	text-decoration: line-through;
}

.remove {
	display: inline-block;
	padding: 3px;
	margin: 0 0 0 5px;
	font-size: 10px;
	color: #FFF;
	cursor: pointer;
	background: #C00;
	border-radius: 5px;
}
